.rdw-editor-toolbar {
  border: 1px solid lightgray;
}

.rdw-editor-main {
  border: 1px solid lightgray;
  height: 240px;
}

.rdw-option-wrapper {
  border: 1px solid lightgray;
}

.rdw-dropdown-wrapper{
  border: 1px solid lightgray;
}
